body
{
	background: url('sb8.jpg')no-repeat;
	background-size: cover;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}



ul li 
{    
    float:left;
	opacity:0.8;
	
	
	
	
	
}
ul li a {
	text-decoration:none;
	color:blue;
	display:block;
}

ul li a:hover{
	background-color:violet;
}
ul li ul li 
{
	display:none;
}
ul li:hover ul li {
	display:block;
}


.sidenav {
 
 
  overflow-x: hidden;

}
.sidenav a, .dropdown-btn {
 
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav2 a, .dropdown-btn {
 
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: violet;
}
.sidenav2 a:hover, .dropdown-btn:hover {
  color: violet;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
 /* Increased text to enable scrolling */
 
}
.active {
  background-color: green;
  color: white;
}
.dropdown-container {
  display: none;
 

}
.dropdown-container2 {
  display: none;
 

}
